@font-face {
  font-family: 'Nunito Sans 10pt';
  src:
    local('Nunito Sans 10pt Light'),
    local('NunitoSans10pt-Light'),
    url('./NunitoSans10pt-Light.woff2') format('woff2'),
    url('./NunitoSans10pt-Light.woff') format('woff'),
    url('./NunitoSans10pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src:
    local('Montserrat Alternates Medium'),
    local('MontserratAlternates-Medium'),
    url('./MontserratAlternates-Medium.woff2') format('woff2'),
    url('./MontserratAlternates-Medium.woff') format('woff'),
    url('./MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src:
    local('Raleway Black'),
    local('Raleway-Black'),
    url('./Raleway-Black.woff2') format('woff2'),
    url('./Raleway-Black.woff') format('woff'),
    url('./Raleway-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
